body {
  background-color:#faf5f5;
}

p.toppic {
  text-align: center;
}

p.toppic img {
  width:75%;
}

p.twicon img{
  width:200px;
  height:200px;
}

.wrapper {
  display: flex;
  max-width: 1600px;
  min-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
 }
 main {
  flex: 1;
  margin: 0 20px;
 }
 aside {
  width: 220px;
  line-height: 1.5em
 }

 hr.side{
  border: 2px double #8c8b8b;
 }
  
 @media screen and (max-width: 480px) {
  .wrapper {
   display: block;
   margin: 0;
   padding: 0;
   max-width: 100%;
   min-width: initial;
  }
  main {
   margin: 0;
  }
  aside {
    line-height: 1.5em;
   width: 100%;
  }
 }

