body {
  background-color:#faf5f5;
}

p.picture img {
  max-width: 400px;
  min-width: 200px;
  width:100%;
}

#left{
  width:200px;
  float:left;
  margin-top:10px;
}

#right{
  width:300px;
  min-height:500px;
  float:right;
  height:auto;
  margin-top:10px;
}

#center{
  width:auto;
  margin-left:220px;
  margin-right: auto;
  min-height:500px;
  height:auto;
  margin-top:10px;
}