/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}


.jumbotron{
  background-image:url(./pic/bg.jpg);
  background-size:  cover; 
  background-position: center;
}

.pc { display: block !important; }
.sp { display: none !important; }

.product h4{
  border-left: 3px solid #b13e2170;
  background: #faf3f2;/*背景色*/
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top:1rem;
}

@media screen and (min-width:1024px) {
.jumbotron .container{
  width:20vw;
  min-width:440px;
  margin-left: 10%;
}
}
.jumbotron .container{
  border:  solid 1px;
  background:rgba(255,255,255,0.9);
}

.midashi h2{
    border-left: 3px solid #217ab1;
    background: #ddf6fa;/*背景色*/
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

main h1,.col-md-4 h4{
  border-left: 3px solid #217ab1;
  background: #ddf6fa;/*背景色*/
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top:1rem;
}

main h3{
  border-left: 3px solid #21b15d;
  background: #e0fadd;/*背景色*/
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top:1rem;
}

.midashi .col-md-4{
    background: #f3f1f1;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    border: 2px solid #ffffff;
}

a.btn.btn-secondary{
  margin-top: 0.5rem;
}

.wrapper {
  display: flex;
  max-width: 1600px;
  min-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
 }
 main {
  flex: 1;
  margin: 0 20px;
 }
 aside {
  width: 220px;
  line-height: 1.5em
 }

 hr.side{
  border: 2px double #8c8b8b;
 }

 @media only screen and (max-width: 480px) {
  .pc { display: none !important; }
  .sp { display: block !important; }
}
  
 @media screen and (max-width: 480px) {
  .wrapper {
   display: block;
   margin: 0;
   padding: 0;
   max-width: 100%;
   min-width: initial;
  }
  main {
   margin: 0;
  }
  aside {
    line-height: 1.5em;
   width: 100%;
  }

 }